extends layout/base

block block

                  
    // End Banner Area
    main.main.p-5.m-5
        .container.text-center
            p.h1.display-1.d-block= statusCode
            p.lead= msg
