.d-flex.bd-highlight.mt-3
    .p-2.flex-grow-1.bd-highlight
        h6.fs-5.text-body.fw-bold.text-uppercase
            | Manage Requests
    .p-2.bd-highlight
        i.fa-solid.fa-bell.fs-5.text-body
    .p-2.bd-highlight
        h6.fs-5.text-body.fw-bold |
    .p-2.bd-highlight
        //- h6.fs-5.text-body.fw-bold=partner.name
    .p-2.bd-highlight
        img.login-user-image(src= alt='user image')


ul.nav.nav-pills.nav-fill
    li.nav-item
        a.nav-link.vendor-manange-nav.text-uppercase(aria-current='page' class=`${activeList==='new-request' && 'active'}` href=`./new-ambulance-request`) New Request Management
    li.nav-item
        a.nav-link.vendor-manange-nav.text-uppercase(aria-current='page' class=`${activeList==='verify-request' && 'active'}` href=`./verification-requests`) New Request Management
   
hr.mt-2.mb-2
