ul.nav.nav-pills.nav-fill.d-flex.flex-nowrap.justify-content-around.mb-2
    li.nav-item
        a.nav-link.vendor-manange-nav.text-uppercase(aria-current='page' class=`${activeList==='categories' && 'active'}` href=`./categories`) Categories 
    li.nav-item
        a.nav-link.vendor-manange-nav.text-uppercase(aria-current='page' class=`${activeList==='medicines' && 'active'}` href=`./medicines`) Medicines 